
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    flex: 1;
}

.navbarItens ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 40px;
    padding: 0;
}

.navbarItens li{
    margin: 10px;
}

.navbarItens a{
    color: white !important;
}
