

.Presentation{
    margin-left: 250px;
}

.Presentation h2{
    font-size: 29px;
}

.Presentation h1{
    font-size: 50px;
}

.Presentation p{
    text-align: justify !important;
    width: 500px;
}